<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <header>
    <%- include('../partials/nav'); %>
  </header>
  <main>
    <section>
      <form action="/update/<%= user.board_id %>" method="POST">
        <p>
          제목: <input type="text" name="title" style="width:1000px; height:30px" value="<%= user.title %>">
        </p>
        <p>
          내용: <textarea name="content" style="width:1000px; height:300px"><%= user.content %></textarea>
        </p>
        <!-- <p><input type="text" name="writer" value="<%= user.user_id %>"></p> -->
        <button>submit</button>
        
      </form>
    </section>
  </main>
</body>
</html>